header.page-header
  a.page-header__logo(href="")
    .logo
      img(src="assets/images/content/logotype-mobile.svg", alt="Мишка" width="86" height="35")
  nav.main-nav
    button.main-nav__toggle.button(type="button") Войти
    .main-nav__wrapper
      ul.main-nav__list.site-list
        li.site-list__item.site-list__item--active
          a.site-list__link(href="index.html") Главная
        li.site-list__item
          a.site-list__link(href="catalog.html") Каталог товаров
        li.site-list__item
          a.site-list__link(href="form.html") Вязание на заказ
        li.site-list__item
          a.site-list__link(href="#") Поиск по сайту
      ul.main-nav__list.user-list
        li.user-list__item
          a.user-list__login(href="login.html") Корзина: пока пуста
