footer.page-footer
  .page-footer__wrapper
    a.page-footer__logo
      .logo(href="index.html")
        img.logo__image(src="#", alt="Мишка" width="86" height="35")
    .page-footer__social.social
      ul.social__list
        li.social__item
          a.social__link.social-link--instagram(href="#")
        li.social__item
          a.social__link.social-link--facebook(href="#")
        li.social__item
          a.social__link.social-link--twitter(href="#")
    .page-footer__copyright.copyright
      b.copyright__text Разработано
      a.copyright__icon(href="https://htmlacademy.ru")
        img.copyright__icon-image(src="assets/images/icons/copyright.svg", alt="Разработано HTML Academy")
