footer.page-footer
  .page-footer__wrapper
    .page-footer__social.social
      ul.social__list
        li.social__item
          a.social__link.social-link--instagram(href="#")
        li.social__item
          a.social__link.social-link--facebook(href="#")
        li.social__item
          a.social__link.social-link--twitter(href="#")
    .page-footer__copyright.copyright
      b.copyright__text Разработано
      a.copyright__link(href="https://htmlacademy.ru")
        img.copyright__link-image(src="assets/images/icons/copyright.svg", alt="Разработано HTML Academy")
