header.page-header
  nav.main-nav.main-nav--closed
    .main-nav__wrapper
      a.main-nav__logo(href="index.html")
        picture
          source(media="(min-width: 1200px)" srcset="assets/images/icons/logo-desktop.svg")
          source(media="(min-width: 768px)" srcset="assets/images/icons/logo-tablet.svg")
          img.logo__image(src="assets/images/icons/logo-mobile.svg" alt="Мишка")
      button.main-nav__toggle(type="button" title="Открыть/закрыть меню")
        span.visually-hidden Открыть/закрыть меню
      ul.main-nav__list.site-list
        li.site-list__item
          a.site-list__link(href="catalog.html") Каталог товаров
        li.site-list__item
          a.site-list__link(href="form.html") Вязание на заказ
        li.site-list__item.site-list__item--new-goods
          a.site-list__link(href="new-goods.html") Новые поступления
        li.site-list__item.site-list__item--sale
          a.site-list__link(href="sale.html") Распродажа
      ul.main-nav__list.user-list
        li.user-list__item.user-list__item--search
          a.user-list__link(href="#") Поиск по сайту
            svg.user-list__icon-search(width="18" height="19")
              use(xlink:href="assets/images/icons/sprite.svg#icon-search")
        li.user-list__item.user-list__item--basket
          a.user-list__link(href="login.html") Корзина: пока пуста
            svg.user-list__icon-cart(width="21" height="18")
              use(xlink:href="assets/images/icons/sprite.svg#icon-cart")
        li.user-list__item.user-list__item--delivery
          a.user-list__link.user-list__link--delivery(href="#") Бесплатная доставка по России
