extends ../template

block title
  title Каталог товаров

block content
  main.page-main

    section.catalog
      header.catalog__header
        h2.content-title Каталог товаров
      ul.catalog__list
        li.catalog__item
          .catalog__picture
            img.catalog__picture-image(src="http://placehold.it/260x195", alt="Зайчик-попрыгайчик")
          .catalog__desc
            h3.catalog__title Зайчик-попрыгайчик
            p.catalog__info Рост 30 см, вес 200 г
          .catalog__price
            span.catalog__price-value 1 200 руб.
            .catalog__icon
        li.catalog__item
          .catalog__picture
            img.catalog__picture-image(src="http://placehold.it/260x195", alt="Корзинка для белья")
          .catalog__desc
            h3.catalog__title Корзинка для белья
            p.catalog__info Диаметр 15 см, высота 10 см
          .catalog__price
            span.catalog__price-value 690 руб.
            .catalog__icon
        li.catalog__item
          .catalog__picture
            img.catalog__picture-image(src="http://placehold.it/260x195", alt="Большая корзинка для игрушек")
          .catalog__desc
            h3.catalog__title Большая корзинка для игрушек
            p.catalog__info Диаметр 30 см, высота 30 см
          .catalog__price
            span.catalog__price-value 1 500 руб.
            .catalog__icon
        li.catalog__item.videoplayer
          .videoplayer__intro
            .videoplayer__icon
            h3.videoplayer__title Процесс производства
          .videoplayer__content
            img.videoplayer__content-image(src="http://placehold.it/260x150", alt="Процесс производства")
          p.videoplayer__text По просьбам наших любимых фолловеров мы сняли для вас подробное видео о том, как появляются наши товары.
          a.catalog.button(href="form.html") Сделать заказ
