extends ../template

block title
  title Форма заказа

  header.page-header
  nav.main-nav.main-nav--closed.main-nav--nojs
    .main-nav__wrapper
      a.main-nav__logo(href="index.html")
        picture
          source(media="(min-width: 1200px)" srcset="assets/images/icons/logo-desktop.svg")
          source(media="(min-width: 768px)" srcset="assets/images/icons/logo-tablet.svg")
          img.logo__image(src="assets/images/icons/logo-mobile.svg" alt="Мишка")
      button.main-nav__toggle(type="button" title="Открыть/закрыть меню")
        span.visually-hidden Открыть/закрыть меню
      ul.main-nav__list.site-list
        li.site-list__item
          a.site-list__link(href="catalog.html") Каталог товаров
        li.site-list__item
          a.site-list__link(href="form.html") Вязание на заказ
        li.site-list__item.site-list__item--new-goods
          a.site-list__link(href="new-goods.html") Новые поступления
        li.site-list__item.site-list__item--sale
          a.site-list__link(href="sale.html") Распродажа
      ul.main-nav__list.user-list
        li.user-list__item.user-list__item--search
          a.user-list__link(href="#") Поиск по сайту
            svg.user-list__icon-search(width="18" height="19")
              use(xlink:href="#icon-search")
        li.user-list__item.user-list__item--basket
          a.user-list__link(href="basket.html") Корзина: пока пуста
            svg.user-list__icon-cart(width="21" height="18")
              use(xlink:href="#icon-cart")
        li.user-list__item.user-list__item--delivery
          a.user-list__link.user-list__link--delivery(href="#") Бесплатная доставка по России

block content
  main.page-main

    section.order
      header.order__header
        h2.content-title.content-title--form Вязание на заказ
      .order__form
        form.form(action="#" method="post")
          .order__promo
            p.order__text Мы будем рады воплотить в жизнь ваши пожелания! Заполните простую форму заказа и мы свяжемся с вами, чтобы уточнить детали.
          .form__wrapper
            .form__section
              h3.form__type Тип
              .form__inner
                label.form__field
                  input.form__radio-elem.visually-hidden(type="radio", id="radio-1" name="form-radio" checked)
                  span.form__radio-fake
                  span.form__value Аксессуар для интерьера
                label.form__field
                  input.form__radio-elem.visually-hidden(type="radio", id="radio-2" name="form-radio")
                  span.form__radio-fake
                  span.form__value Детская игрушка
          .form__wrapper.form__wrapper--gray
            .form__section
              h3.form__type Цвет
              .form__inner.form__inner--columns
                label.form__field
                  input.form__check-elem.visually-hidden(type="checkbox", id="check-1" name="form-check" checked)
                  span.form__check-fake
                    svg.form__check-icon(width="22" height="16")
                      use(xlink:href="#icon-tick")
                  span.form__value Белый
                label.form__field
                  input.form__check-elem.visually-hidden(type="checkbox", id="check-2" name="form-check" checked)
                  span.form__check-fake
                    svg.form__check-icon(width="22" height="16")
                      use(xlink:href="#icon-tick")               
                  span.form__value Серый
                label.form__field
                  input.form__check-elem.visually-hidden(type="checkbox", id="check-3" name="form-check")
                  span.form__check-fake
                    svg.form__check-icon(width="22" height="16")
                      use(xlink:href="#icon-tick")
                  span.form__value «Тиффани»
                label.form__field
                  input.form__check-elem.visually-hidden(type="checkbox", id="check-4" name="form-check")
                  span.form__check-fake
                    svg.form__check-icon(width="22" height="16")
                      use(xlink:href="#icon-tick")
                  span.form__value Черный
                label.form__field
                  input.form__check-elem.visually-hidden(type="checkbox", id="check-5" name="form-check")
                  span.form__check-fake
                    svg.form__check-icon(width="22" height="16")
                      use(xlink:href="#icon-tick")
                  span.form__value Розовый
                label.form__field
                  input.form__check-elem.visually-hidden(type="checkbox", id="check-6" name="form-check")
                  span.form__check-fake
                    svg.form__check-icon(width="22" height="16")
                      use(xlink:href="#icon-tick")
                  span.form__value Оранжевый
          .form__wrapper.form__wrapper--name
            .form__section
              h3.form__type ФИО
              .form__inner
                .form__field.form__field--full-name.form__field--underlined
                  label.form__value(for="form-name") Имя:
                  input.form__input(type="text", id="form-name" name="form-name" placeholder="Введите ваше имя*")
                .form__field.form__field--full-name.form__field--underlined
                  label.form__value(for="form-lastname") Фамилия:
                  input.form__input(type="text", id="form-lastname" name="form-lastname" placeholder="Укажите фамилию*")
                .form__field.form__field--full-name.form__field--underlined
                  label.form__value(for="form-patronymic") Отчество:
                  input.form__input(type="text", id="form-patronymic" name="form-patronymic" placeholder="Отчество, если желаете")
          .form__wrapper.form__wrapper--contacts.form__wrapper--gray
            .form__section
              h3.form__type Тел
              .form__inner
                .form__field
                  input.form__input(type="tel", name="form-phone" placeholder="+7 ХХХ ХХ ХХ*")
                  svg.form__input-icon(width="25" height="24")
                    use(xlink:href="#icon-phone")
            .form__section
              h3.form__type.form__type_margin_bottom e-mail
              .form__inner
                .form__field
                  input.form__input(type="email", name="form-email" placeholder="Ваш Email*")
                  svg.form__input-icon(width="32" height="21")
                    use(xlink:href="#icon-mail")
          .form__wrapper.form__wrapper--comment
            .form__section
              h3.form__type доп
              .form__inner
                .form__field
                  textarea.form__textarea(name="form-textarea", placeholder="Опишите все ваши пожелания к заказу")
          .form__footer
            .form__important *Поля обязательны для заполнения
            button.form__submit.button(type="submit") Отправить заказ

block footer
  footer.page-footer
    .page-footer__wrapper
      a.page-footer__logo
        svg.page-footer__logo-image(width="102" height="33")
          use(xlink:href="#icon-logo-footer")
      .page-footer__social.social
        ul.social__list
          li.social__item
            a.social__link.social-link--instagram(href="#")
              svg.social__icon.social__icon--instagram(width="22" height="21")
                use(xlink:href="#icon-insta")
          li.social__item
            a.social__link.social-link--facebook(href="#")
              svg.social__icon.social__icon--facebook(width="15" height="29")
                use(xlink:href="#icon-fb")
          li.social__item
            a.social__link.social-link--twitter(href="#")
              svg.social__icon.social__icon--twitter(width="24" height="20")
                use(xlink:href="#icon-twitter") 
      a.page-footer__copyright.copyright(href="https://htmlacademy.ru")
        b.copyright__text Разработано
        svg.copyright__icon(width="27" height="34")
          use(xlink:href="#icon-logo-htmlacademy")