extends ../template

block title
  title Главная страница

block content
  main.page-main

    section.goods
      header.goods__header
        h2.content-title Милые штуки ручной работы&nbsp;для&nbsp;дома
      ul.goods__list
        li.goods__item
          a.goods__link(href="#")
            span.goods__name Предметы интерьера
            .goods__picture
              img(src="http://placehold.it/41x62", alt="Предметы интерьера")
        li.goods__item
          a.goods__link.goods__link--bg--dark(href="#")
            span.goods__name Детские игрушки
            .goods__picture
              img(src="http://placehold.it/61x61", alt="Детские игрушки")

    article.offer
      .offer__wrapper
        h2.offer__title Вязаные корзинки
        h3.offer__type Товар недели
        section.offer__desc
          p.offer__text Экологически чистая пряжа, ручная работа. Доступны в шести расцветках, и трех размерах.
          table.offer__list
            tr.offer__list-row
              th.offer__property Цвет:
              td.offer__value «Тиффани»/серый:
            tr.offer__list-row
              th.offer__property Диаметр:
              td.offer__value 25 см
            tr.offer__list-row
              th.offer__property Высота:
              td.offer__value 15 см
        .offer__picture
          img.offer__picture-image(src="http://placehold.it/260x315", alt="Вязанные корзинки: товар недели")
        .offer__buy
          b.offer__price Цена: 990 руб.
          a.offer__button.button(href="form.html") Заказать

    section.advantages
      .advantages__wrapper
        h2.advantages__title Коротко о нас:
        ul.advantages__list
          li.advantages__item.advantages__item--friendly Экологически чистые материалы
            img.advantages__icon(src="http://placehold.it/33x15", alt="")
          li.advantages__item.advantages__item--scandinavian-style Скандинавский стиль по российской цене
            img.advantages__icon(src="http://placehold.it/47x27", alt="")
          li.advantages__item.advantages__item--popularity-increase Увеличивает лайки на фотографиях
            img.advantages__icon(src="http://placehold.it/34x27", alt="")
          li.advantages__item.advantages__item--hand-made Связано вручную с любовью и умилением
            img.advantages__icon(src="http://placehold.it/35x34", alt="")
          li.advantages__item.advantages__item--domestic-support Поддержка отечественного производителя
            img.advantages__icon(src="http://placehold.it/55x23", alt="")
          li.advantages__item.advantages__item--gift-delivery Поставляется в подарочной упаковке
            img.advantages__icon(src="http://placehold.it/33x32", alt="")

    section.reviews
      .reviews__wrapper.slider
        h2.reviews__title Отзывы
        .reviews__list
          blockquote.reviews__item
            p.reviews__text.
              Я молодая мама, но всё равно фотографии не набирали и близко такого количества лайков, как у популярных инстамамочек. В отчаянии, я накупила аксессуаров и игрушек в Мишке, и мои фотографии сразу стали более стильными, а также набирают больше лайков!
            p.reviews__author
              cite.reviews__author-name Анастасия Красильникова
              span.reviews__author-nickname @misssssiskras
            .reviews__toggles
              a.reviews__toggle.reviews__toggle--prev(href="#") Предыдущий отзыв
              a.reviews__toggle.reviews__toggle--next(href="#") Следующий отзыв
        a.reviews__button.button(href="#") Написать

    section.contacts
      .contacts__wrapper
        h3.contacts__title Контакты
        .contacts__list
          .contacts__item
            span.contacts__type e-mail:
            p.contacts__value.contacts__value--underlined info@mimimishkashop.ru
          .contacts__item
            span.contacts__type адрес:
            p.contacts__value г.&nbsp;Санкт-Петербург, ул.&nbsp;Большая Конюшенная, д.19/8, офиc&nbsp;101
      .contacts__map
        .map
          img.map__image(src="http://placehold.it/320x457", alt="Как до нас добраться")
      a.contacts__button.button(href="#") Напишите нам
