include ./common/variables
include ./common/mixins

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    block title
      title Мишка
    link(rel='stylesheet' href='assets/css/style.min.css')
    script(src="assets/scripts/picturefill.min.js" acync)
    script(src="assets/scripts/svg4everybody.min.js")
    script svg4everybody();
  body
    .wrapper
      include common/header
      block content
      include common/footer
