doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    block title
      title Мишка
    link(rel='stylesheet' href='assets/css/style.min.css')
    script(src="assets/scripts/picturefill.min.js" async)
    script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
  body
    .wrapper
      div(style="display: none")
        include ../../docs/assets/images/icons/sprite.svg
      block content
      block footer
    script(src="assets/scripts/main.min.js")
