.advantages {
  margin-bottom: 49px;
}

.advantages__wrapper {
  box-sizing: initial;
  width: 260px;
  margin: 0 auto;
  padding-right: 30px;
  padding-left: 30px;
}

.advantages__title {
  margin-bottom: 2px;
  padding-top: 23px;

  font-weight: 600;
  font-size: 25px;
  color: $color-black;
}

.advantages__list {
  display: flex;
  flex-direction: column;
}

.advantages__item {
  position: relative;

  padding-top: 83px;

  font-weight: 600;
  font-size: 17px;
  line-height: 1.2;
  color: $color-black;
}

.advantages__icon {
  position: absolute;

  fill: #63d1bb;
}

.advantages__icon--friendly {
  top: 27px;
  left: 8px;
}
.advantages__icon--scandinavian-style {
  top: 29px;
  left: 0;
}

.advantages__icon--popularity-increase {
  top: 33px;
  left: 7px;
}

.advantages__icon--hand-made {
  top: 31px;
  left: 3px;
}

.advantages__icon--domestic-support {
  top: 32px;
  left: -6px;
}

.advantages__icon--gift-delivery {
  top: 30px;
  left: 3px;
}

@media (min-width: $tablet-width) {
  .advantages {
    margin-bottom: 55px;
  }

  .advantages__wrapper {
    width: 668px;
    padding-right: 50px;
    padding-left: 50px;
  }

  .advantages__title {
    margin-bottom: 20px;
    padding-top: 18px;

    font-size: 43px;
    line-height: 50px;
  }

  .advantages__list {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
  }

  .advantages__item {
    width: 50%;
    margin-bottom: 26px;
    padding-top: 81px;

    font-size: 22px;
    line-height: 1.1;
  }

  .advantages__item--hand-made {
    order: 4;
  }
  .advantages__item--scandinavian-style {
    order: 8;
  }

  .advantages__item--domestic-support {
    order: 12;
  }

  .advantages__item--popularity-increase {
    order: 16;
  }

  .advantages__item--gift-delivery {
    order: 20;
  }


  .advantages__text {
    font-size: 20px;
    line-height: 22px;
  }
}

@media (min-width: $desktop-width) {
  .advantages__wrapper {
    box-sizing: border-box;
    width: 1050px;
    margin-bottom: 67px;
    padding: 0;
  }

  .advantages__title {
    margin-left: 175px;
    padding-top: 0;

    font-weight: 600;
    font-size: 53px;
    line-height: 1.07;
  }

  .advantages__list {
    margin-left: 175px;
  }

  .advantages__item {
    width: 40%;
    margin-bottom: 27px;

    font-size: 20px;
  }
}
