.button {
  padding: 18px 85px;

  font-weight: 600;
  font-size: 17px;
  color: $color-gray;
  text-transform: uppercase;
  text-decoration: none;

  background: $color-white;
  border: 2px solid $color-gray;
}
