.catalog__header {
  min-height: 177px;
  padding-top: 70px;

  background: $color-lightgray;
  border-top: 1px solid #ececec;
}

.catalog__item {
  margin-bottom: 30px;

  list-style-type: none;

  border: 1px solid #ececec;
}

.catalog__picture-link {
  text-decoration: none;

  background-color: #eaeaea;
}

.catalog__wrapper {
  width: 260px;
  margin: 0 auto;
  padding-top: 30px;
}

.catalog__list {
  margin: 0;
  padding: 0;
}

.catalog__desc {
  padding-right: 26px;
  padding-bottom: 8px;
  padding-left: 26px;
}

.catalog__title-link {
  text-decoration: none;
}

.catalog__title {
  margin: 0;
  padding-top: 27px;
  padding-bottom: 7px;

  font-weight: 600;
  font-size: 17px;
  line-height: 1.41;
  color: $color-black;
}

.catalog__info {
  margin-top: 0;
  margin-bottom: 18px;

  font-size: 13px;
  line-height: 2.3;
}

.catalog__price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 67px;
  margin-top: auto;

  border-top: 1px solid #ececec;
}

.catalog__price-value {
  font-weight: 600;
  font-size: 15px;
  color: $color-black;
}

.catalog__basket {
  text-decoration: none;
}

.catalog__icon {
  transition: all 0.2s ease;

  fill: #cccccc;
}

@media (min-width: $tablet-width) {
  .catalog__header {
    position: relative;

    min-height: 226px;
    margin-top: -60px;
    margin-bottom: 79px;
    padding-top: 80px;

    border-top-color: #dfdfdf;

    &::after {
      content: "";
      position: absolute;
      bottom: -12px;
      left: 0;

      width: 100%;
      height: 24px;

      background-image: url("../images/icons/bg-zigzag-fill.svg");
      background-repeat: repeat-x;
      background-position: center;
      background-size: 768px 24px;
    }
  }

  .catalog__wrapper {
    width: 668px;
    padding-top: 0;
  }

  .catalog__item {
    display: flex;
    margin-bottom: 53px;

    &:hover .catalog__desc {
      box-shadow: 0 6px 10px 0 rgba($color-black, 0.1);
    }

    &:hover .catalog__icon {
      fill: $color-green-dark-hover;
    }

    &:active .catalog__desc {
      box-shadow: 0 3px 5px 0 rgba($color-black, 0.1);
    }

    &:active .catalog__icon {
      fill: rgba($color-green-dark-hover, 0.3);
    }
  }

  .catalog__picture-image {
    width: 334px;
    height: 334px;
  }

  .catalog__desc {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-right: 31px;

    transition: all 0.2s ease;
  }

  .catalog__title {
    font-size: 20px;
    line-height: 1.2;
  }

  .catalog__info {
    font-size: 15px;
    line-height: 2;
  }

  .catalog__price {
    padding-left: 6px;
  }

  .catalog__price-value {
    font-size: 17px;
    line-height: 1.41;
  }
}

@media (min-width: $desktop-width) {
  .catalog__header {
    min-height: 255px;
    margin-top: -61px;
    margin-bottom: 127px;
    padding-top: 106px;

    &::after {
      bottom: -17px;

      height: 34px;

      background-size: 1200px 34px;
    }
  }

  .catalog__wrapper {
    width: 1050px;
  }

  .catalog__list {
    display: flex;
    flex-wrap: wrap;
  }

  .catalog__item {
    flex-direction: column;
    width: 316px;
    margin-right: 51px;
    margin-bottom: 57px;

    &:nth-of-type(3n) {
      margin-right: 0;
    }
  }

  .catalog__picture-image {
    height: 463px;
  }

  .catalog__desc {
    flex-grow: 1;
    width: 100%;
    padding-right: 31px;
  }

  .catalog__title {
    padding-bottom: 5px;
  }

  .catalog__info {
    margin-bottom: 13px;

    font-size: 15px;
    line-height: 2;
  }

  .catalog__price {
    padding-left: 0;
  }
}
