.catalog__header {
  background: $color-lightgray;
}

.catalog__title {
  font-weight: 600;
  font-size: 17px;
  color: $color-black;
}

.catalog__info {
  font-size: 13px;
}

.catalog__price-value {
  font-weight: 600;
  font-size: 15px;
  color: $color-black;
}
