.content-title {
  width: 260px;
  margin-top: -50px;

  font-weight: 600;
  font-size: 27px;
  line-height: 30px;
  text-align: center;
  color: $color-black;

  &--form {
    margin: 0 auto;
  }

  &--catalog {
    margin: 0 auto;
  }
}

@media (min-width: $tablet-width) {
  .content-title {
    width: 668px;
    margin-top: 123px;

    font-size: 43px;
    line-height: 50px;

    &--form {
      margin: 0 auto;
    }

    &--catalog {
      margin: 0 auto;
    }
  }
}


@media (min-width: $desktop-width) {
  .content-title {
    width: 1050px;
    margin-top: 138px;

    font-size: 53px;
    line-height: 57px;

    &--form {
      margin-top: -12px;
    }

    &--catalog {
      margin-top: -13px;
    }
  }
}
