.copyright__text {
  font-weight: 600;
  font-size: 19px;
  color: $color-black;
}

.copyright__link {
  font-size: 0;
}

.copyright__icon {
  transition: all 0.2s ease;

  fill: #63d1bb;

  &:hover {
    fill: $color-green-dark-hover;
  }

  &:active {
    fill: rgba($color-green-dark-hover, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .copyright__text {
    margin-right: 41px;
  }
}
