.form__type {
  font-weight: 600;
  font-size: 17px;
  color: $color-green;
  text-transform: uppercase;
}

.form__value {
  font-weight: 600;
  font-size: 17px;
  color: $color-black;
}

.form__important {
  font-size: 14px;
}
