.main-nav {
  min-height: 80px;

  background-color: #ffffff;
}

.main-nav__wrapper {
  position: relative;

  width: 320px;
  margin: 0 auto;
}

.main-nav__logo {
  display: block;
  margin-top: 22px;
  margin-bottom: 22px;
}

.main-nav__logo-image {
  margin: 0 auto;

  transition: opacity 0.2s ease;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 7px;
  right: 30px;
  z-index: 10;

  display: block;
  width: 22px;
  height: 22px;

  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav--closed .main-nav__toggle {
  background-image: url("../images/icons/icon-menu-open.svg");
  background-position: 0 4px;
}

.main-nav--opened .main-nav__toggle {
  background-image: url("../images/icons/icon-menu-close.svg");
}

@media (max-width: 767px) {
  .main-nav--closed {
    .site-list,
    .user-list {
      display: none;
    }
  }

  .main-nav--nojs {
    .site-list,
    .user-list {
      display: block;
    }
  }
}


@media (min-width: $tablet-width) {
  .main-nav {
    height: 150px;
  }

  .main-nav__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 668px;
  }

  .main-nav__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__wrapper {
    width: 1050px;
  }

  .main-nav__logo {
    order: 2;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
