.offer__title {
  font-weight: 600;
  font-size: 25px;
  color: $color-black;
}

.offer__type {
  font-weight: 600;
  font-size: 17px;
  color: $color-green;
  text-transform: uppercase;
}

.offer__price {
  font-weight: 600;
  font-size: 17px;
  color: $color-gray;
}
