.order {
  display: flex;
  flex-direction: column;
}

.order__header {
  position: relative;

  min-height: 177px;
  padding-top: 70px;

  background: $color-lightgray;
  border-top: 1px solid #dfdfdf;
}

.order__form {
  box-sizing: initial;
  width: 260px;
  margin: 0 auto;
  padding-top: 25px;
  padding-right: 30px;
  padding-left: 30px;
}

.order__text {
  margin-top: 0;
  margin-bottom: 20px;

  font-size: 13px;
  line-height: 1.84;
}

@media (min-width: $tablet-width) {
  .order {
    margin-bottom: 50px;
  }

  .order__header {
    min-height: 225px;
    margin-top: -60px;
    padding-top: 93px;

    &::after {
      content: "";
      position: absolute;
      bottom: -12px;
      left: 0;

      width: 100%;
      height: 24px;

      background-image: url("../images/icons/bg-zigzag-fill.svg");
      background-repeat: repeat-x;
      background-position: center;
      background-size: 768px 24px;
    }
  }

  .order__form {
    width: auto;
    margin: 0;
    padding-top: 71px;
    padding-right: 0;
    padding-left: 0;
  }

  .order__promo {
    width: 668px;
    margin: 0 auto;
  }

  .order__text {
    margin-bottom: 0;

    font-size: 17px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .order__header {
    min-height: 255px;
    padding-top: 106px;

    &::after {
      bottom: -17px;

      height: 34px;

      background-size: 1200px 34px;
    }
  }

  .order__form {
    padding-top: 120px;
  }

  .order__promo {
    width: 1050px;
  }

  .order__text {
    padding-right: 175px;
    padding-left: 175px;
  }
}
