.production {
  margin-bottom: 28px;
}

.production__wrapper {
  position: relative;

  width: 260px;
  margin: 0 auto;

  border: 1px solid #ececec;
}

.production__title {
  position: relative;

  margin: 0;
  padding-top: 22px;
  padding-bottom: 24px;
  padding-left: 90px;

  font-weight: 600;
  font-size: 17px;
  line-height: 24px;
  color: $color-black;
}

.production__icon {
  position: absolute;
  top: 28px;
  left: 33px;

  width: 32px;
  height: 32px;

  fill: $color-green;
}

.production__content {
  padding: 13px 32px 40px;
}

.production__text {
  margin-bottom: 32px;

  font-size: 13px;
  line-height: 2.3;
}

@media (min-width: $tablet-width) {
  .production {
    margin-bottom: 63px;
  }

  .production__wrapper {
    display: flex;
    flex-direction: column;
    width: 668px;

    transition: all 0.3s ease;

    &:hover {
      box-shadow: 0 6px 10px 0 rgba($color-black, 0.1);
    }

    &:active {
      box-shadow: 0 3px 5px 0 rgba($color-black, 0.1);
    }
  }

  .production__icon {
    top: 31px;
    left: 41px;
  }

  .production__videoplayer {
    order: -1;
    width: 666px;
    height: 455px;
  }

  .production__title {
    padding-top: 34px;
    padding-right: 42px;
    padding-bottom: 4px;
    padding-left: 105px;

    font-size: 20px;
    line-height: 1.2;
  }

  .production__content {
    padding-right: 42px;
    padding-bottom: 45px;
    padding-left: 42px;
  }

  .production__text {
    margin-bottom: 36px;

    font-size: 15px;
    line-height: 2;
  }
}

@media (min-width: $desktop-width) {
  .production {
    margin-bottom: 105px;
  }

  .production__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1050px;
  }

  .production__icon {
    top: 43px;
    left: 61px;
  }

  .production__title {
    order: -1;
    width: 340px;
    margin-left: 700px;
    padding-top: 93px;
    padding-right: 60px;
    padding-left: 60px;
  }

  .production__videoplayer {
    width: 683px;
    margin-top: -146px;
  }

  .production__content {
    width: 350px;
    padding-top: 16px;
    padding-right: 57px;
    padding-left: 62px;
  }

  .production__text {
    margin-bottom: 46px;
  }
}
