.reviews__title {
  font-weight: 600;
  font-size: 25px;
  color: $color-black;
}

.reviews__author-name {
  font-weight: 600;
  font-size: 17px;
  color: $color-black;
}

.reviews__author-nickname {
  font-weight: 400;
  font-size: 17px;
  color: $color-gray;
}
