.site-list {
  z-index: 5;
}

.site-list__item:nth-of-type(n+3) {
  display: none;
}

.site-list__item {
  border-top: 1px solid #ececec;
}

.site-list__link {
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 76px;

  font-weight: 600;
  font-size: 17px;
  color: $color-black;
  text-decoration: none;

  transition: color 0.2s ease;

  &:hover,
  &:focus {
    color: rgba($color-black, 0.6);
  }

  &:active {
    color: rgba($color-black, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
    order: 3;
    width: 310px;
  }

  @media (min-width: $tablet-width) and (max-width: 1199px) {
    .site-list__item {
      width: 142px;

      border-top: none;

      &:nth-of-type(odd) {
        margin-right: 25px;
      }
    }
  }

  .site-list__link {
    padding-top: 18px;
    padding-bottom: 0;
    padding-left: 0;

    font-size: 15px;
    line-height: 1.6;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    order: 0;
    width: 410px;
  }

  .site-list__item {
    border-top: none;

    &:first-of-type {
      border-right: 1px solid #ececec;
    }

    &:nth-of-type(odd) {
      width: 185px;
      margin-right: 0;
    }

    &:nth-of-type(even) {
      margin-right: 0;
      padding-left: 35px;
    }

    &:nth-of-type(n+3) {
      display: block;

      a {
        padding-top: 18px;
        padding-bottom: 0;

        font-size: 15px;
        line-height: 1.6;
      }
    }
  }

  .site-list__link {
    padding-top: 32px;
    padding-bottom: 35px;

    font-size: 17px;
    line-height: 1.411;
  }
}
