.user-list {
  z-index: 5;
}

.user-list__item {
  list-style-type: none;

  border-top: 1px solid #ececec;

  &--delivery {
    border-top: none;
  }
}

.user-list__link {
  position: relative;

  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 76px;

  font-weight: 600;
  font-size: 17px;
  color: $color-black;
  text-decoration: none;

  transition: color 0.2s ease;

  &:hover,
  &:focus {
    color: rgba($color-black, 0.6);

    .user-list__icon-search,
    .user-list__icon-cart {
      fill: $color-green;
    }
  }

  &:active {
    color: rgba($color-black, 0.3);

    .user-list__icon-search,
    .user-list__icon-cart {
      fill-opacity: 0.3;
    }
  }
}

.user-list__icon-search,
.user-list__icon-cart {
  position: absolute;
  top: 37px;
  left: 32px;

  transition: all 0.2s ease;

  fill: #d3d2d2;
}

.user-list__icon-search {
  width: 18px;
  height: 19px;
}

.user-list__icon-cart {
  width: 21px;
  height: 18px;
}

.user-list__link--delivery {
  display: none;

  font-weight: 400;
}

@media (min-width: $tablet-width) {
  .user-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 350px;
    height: 89px;
  }

  .user-list__item:first-of-type {
    width: 84px;

    a {
      font-size: 0;
    }
  }

  .user-list__item--search,
  .user-list__item--basket {
    border-left: 1px solid #ececec;
  }

  .user-list__item:nth-of-type(n+3) a {
    padding-top: 18px;
    padding-bottom: 0;

    font-size: 15px;
    line-height: 1.6;
  }

  .user-list__item--basket a {
    padding-left: 83px;
  }

  .user-list__link {
    padding-top: 30px;
    padding-bottom: 34px;

    &--delivery {
      display: block;
    }
  }
}

@media (min-width: $desktop-width) {
  .user-list {
    order: 4;
    width: 410px;
  }
}
