.videoplayer {
  position: relative;
}

.videoplayer__toggle {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 100px;
  height: 76px;

  background-color: transparent;
  background-image: url("../images/icons/icon-play.svg");
  background-repeat: no-repeat;
  border: none;
  outline: none;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
