$color-green: #63d1bb;
$color-green-hover: #59d5bc;
$color-green-dark: #56c3b2;
$color-green-dark-hover: #46c1ae;
$color-black: #000000;
$color-black-hover: rgba(#000000, 0.6);
$color-black-down: rgba(#000000, 0.3);
$color-white: #ffffff;
$color-gray: #444444;
$color-lightgray: #f1f1f1;

$tablet-width: 768px;
$desktop-width: 1200px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;